<div><h3>@ViewBag.Complete</h3></div>

<a class="btn btn-warning" asp-controller="Users" asp-action="Main"> Main page </a>
<a class="btn btn-warning" asp-controller="Users" asp-action="UserPage" asp-route=""> My page</a>