<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <a asp-controller="Search" asp-action="Search"> Search </a>
    <div>
        @RenderBody()
    </div>
</body>
</html>
