<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap-lumen.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Col.Lecton's</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Users" asp-action="MainPage"> Main page</a>
                        </li>
                        <li class="nav-item">
                            @if (User.IsInRole("admin"))
                            {<a class="nav-link" asp-controller="Users" asp-action="AdminTable"> Admin Table </a>}
                        </li>

                        <li class="nav-item">
                            @if (User.Identity.IsAuthenticated)
                            {<a class="nav-link" asp-controller="Users" asp-action="MyPage"> My Page </a>}
                        </li>

                        <li class="nav-item">
                            @if (!User.Identity.IsAuthenticated)
                            {<a class="align-right nav-link" asp-controller="Account" asp-action="SignIn"> Sign In </a>}
                            else
                            {<a class="align-right nav-link" asp-controller="Account" asp-action="Logout"> Exit </a>}
                        </li>

                        <li class="nav-item">
                            <a class="btn btn-outline-success" asp-controller="Search" asp-action="Search"> Search </a>
                        </li>
                    </ul>
                </div>
            </div>

            <a href="#" onclick="changeCSS('/css/bootstrap-lumen.css', 0);" class="btn-outline-secondary">Day</a>/
            <a href="#" onclick="changeCSS('/css/bootstrap-darkly.css', 0);" class="btn-outline-secondary">Night</a>
        </nav>
    </header>
    <div class="container" style="margin-top: 5rem">
        @RenderBody()
    </div>
</body>
</html>

<script>
    function changeCSS(cssFile, cssLinkIndex) {
        var oldlink = document.getElementsByTagName("link").item(cssLinkIndex);
        localStorage.setItem('fone', cssFile);
        var newlink = document.createElement("link");
        newlink.setAttribute("rel", "stylesheet");
        newlink.setAttribute("type", "text/css");
        newlink.setAttribute("href", cssFile);
        document.getElementsByTagName("head").item(cssLinkIndex).replaceChild(newlink, oldlink);
    }
    if (!localStorage.getItem('fone') != '/css/bootstrap-lumen.css' && !localStorage.getItem('fone') != '/css/bootstrap-darkly.css' ) changeCSS('/css/bootstrap-lumen.css', 0)
    else {
        var fone = localStorage.getItem('fone');
        changeCSS(fone, 0);
    }
</script>

